body {
  text-align: center;
  background-color: #011F3F;
}

#level-title, .tutorial {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}
a{
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;

}
#colorblind{
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 200px;
  border: 5px solid #FEF2BF;
  border-radius: 20%;
  background-color: #FEF2BF;
  color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}
#player-score, .video h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin: 5%;
  color: #FEF2BF;
}
#how-to-play, #home-button, .tutorial-para, ul, .video p, #high-score{
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin: 5%;
  background-color: #011F3F;
  color: #FEF2BF;
  padding: 5px;
  border-radius: 5%;
  
}
.feck{
  display: flex;
}
.video{
  display: flex;
  justify-content: center;
  gap: 20px
}

.box{
  width: 50%;
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}
.rules{
  width: 500px;
  font-size: 16px;
  text-align: left;
  color: #FEF2BF;
}
.rules li{
  font-family: 'Press Start 2P', cursive;
  padding: 6px;
}
.tutorial-list li{
  text-align: left;
  padding: 6px;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  opacity: 0.5;
}